@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  list-style: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.2;
  white-space: normal;
}

html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 80 + 8px);
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 28px;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 18px;
  }
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Kosugi Maru", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3",
    Meiryo, "メイリオ", Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-feature-settings: "pkna";
}

code {
  font-family: Inconsolata, Consolas, "Courier New", Courier, Monaco, monospace;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
